

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-3">

      <h2>Hello <%= current_user.first_name %></h2>
      <p>Welcome to Listy, the new home of your gift lists</p>
      <h4 class="mb-3">Manage: <%= link_to "Your list", list_path(current_user.lists.ids) %></h4>
      <% @lists.each do |list| %>
      <% @list = list%>
        <div class="card p-3 mb-3">
          <table>
            <p><%= list.title %> ID: <%= list.id  %> </p>

          <% list.items.each do |item| %>

              <tr class="row-border">
                <td><%= item.item_name %></td>
                <td><%= item.description %></td>
                <td>£<%= item.price %></td>
                <td><a href="<%= item.link %>">Link</a></td>

                <% if item.buyer.nil? || item.buyer == current_user.id %>
                  <% if item.buyer.nil? %>
                    <td><%= link_to pick_path(item), class: 'btn btn-outline-success', method: :patch, remote: true do %> <i class="far fa-circle"></i><% end %></td>
                  <% else %>
                    <td><%= link_to pick_path(item), class: 'btn btn-outline-danger', method: :patch, remote: true do %> <i class="fas fa-check-circle"></i><% end %></td>
                  <% end %>
                <% else %>
                  <td><%= item.buyer %></td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

      <% end %>

    </div>
  </div>
</div>
