

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h2>Hello <%= current_user.first_name %> 👋</h2>
      <p>Welcome to Listy, the new home of your gift lists</p>
      <h4 class="mb-3">Manage: <%= link_to "Family lists", lists_path %></h4>


        <div class="card p-3 mb-3">
            <p><%= @list.title %> ID: <%= @list.id  %> </p>
            <% @list.items.sort.each do |item| %>
              <div class="list-flex">
                <div class="item_name"><%= item.item_name %></div>
                <div class="description-show-page"><%= item.description %></div>
                <div class="price">£<%= item.price %></div>
                <div class="link"><a href="<%= item.link %>" target="_blank">Link</a></div>
                <div class="link"><%= render "lists/partial/update_item", list: @list, item: item,  data: {list: @list, item: item}, remote: true %></div>
                <div class="picker"><%= link_to list_item_path(@list, item), class: 'red', method: :delete, data: { confirm: 'Are you sure that you want to delete this item?' }, remote: true do %><i class="fas fa-times"></i><% end %></div>
              </div>
            <% end %>
        </div>

      <%= render "lists/partial/add_item" %>

    </div>
  </div>
</div>

