<!-- Modal -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for [@list, @item], remote: true do |f| %>
            <%= hidden_field_tag 'list', @list.id %>
            <%= f.input :item_name, input_html: {value: @item.item_name } %>
            <%= f.input :description, input_html: {value: @item.description } %>
            <%= f.input :link, input_html: {value: @item.link } %>
            <%= f.input :price, input_html: {value: @item.price } %>
            <%= f.submit "Update Item", class: "btn btn-outline-primary" %>
      <% end %>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
